name: Deno tests

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: stable
      - name: Run Deno tests
        run: deno test ./deno.test.mts
