name: NodeJS tests

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 25.x
      - name: Install Typescript
        run: npm install typescript
      - name: Build (TypeScript)
        run: npx tsc ./index.mts
      - name: Run Node tests
        run: node --test ./node.tests.mjs
